<h1>Log In</h1>

<%= form_for @user, url: {action: "login"} do |f| %>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
<% end %>
<%= f.label :email %>
<br><%= f.text_field :email %></br>
<%= f.label :password %>
<br><%= f.password_field :password %></br>
<br><%= f.submit "Log In" %></br>
<% end %>
