<h1>Task Information</h1>

<p>Name: <%= @task.name %></p>
<p>Desciption: <%= @task.description %></p>
<p>Location: <%= link_to @task.location.name, location_path(@task.location) %></p>
<p>Assigned to: <%= link_to @task.user.name, user_path(@task.user) %></p>
<br></br>

<%= link_to "Edit Task", edit_task_path(@task) %>
<br></br>
<%= form_tag task_path(@task.id), method: "delete" do %>
  <%= submit_tag "Delete task" %>
<% end %>
