<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
<% end %>
<div class="field_with_errors">
<%= form_for @user do |f| %>
<br><%= f.label :name %>
<%= f.text_field :name %></br>
<br><%= f.label :job %>
<%= f.text_field :job %></br>
<br><%= f.label :email %>
<%= f.text_field :email %></br>
<br><%= f.label :password %>
<%= f.password_field :password %></br>
<br><%= f.submit %></br>
<% end %>
</div>
