<h1>Location Information</h1>

<h3><%= @location.name %></h3>

<p>Description: <%= @location.description %></p>
<h3>Tasks:</h3>
<ul>
  <% @location.tasks.each do |a| %>
    <li><%= link_to a.name, task_path(a.id) %></li>
  <% end %>
</ul>
<br>
<%= link_to "Edit", edit_location_path(@location) %>
</br>
<br>
<p><%= link_to "Add task", new_location_task_path(@location) %></p>
<br></br>
<%= form_tag location_path(@location.id), method: "delete" do %>
    <%= submit_tag "Delete location" %>
  <% end %>
