<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagerV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
    <%= yield %>

    <footer>
      <% if request.path != "/home" && request.path != "/" && request.path != "/login" && logged_in? %>
        <br></br><%= link_to "Home", "/home" %><br></br>
      <% end %>
      <% if logged_in? %>
        <br><%= link_to "Log Out", "/logout" %></br>
      <% end %>
    </footer>

  </body>
</html>
